{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome Home</h1>

    <p>Welcome! This is the Fantasy Football Advisor app home page. Please see below for instructions on running Fantasy Football Advisor's Features!</p>

    <!--

        RESPONSIVE GRID OF CARDS

        SEE:

            https://getbootstrap.com/docs/5.0/layout/grid/

            https://getbootstrap.com/docs/5.0/components/card/

            https://getbootstrap.com/docs/5.0/components/card/#grid-cards

      -->

      <div class="row row-cols-3">

        <div class="card col" style="width: 18rem; margin:20px;">
            <img src="https://static.www.nfl.com/image/private/t_editorial_landscape_12_desktop/league/bchowu3dxauor3o9dq34.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">FF Report Tool</h5>
                <p class="card-text">Fantasy Football Advisor's FF Report Tool can be run in the terminal (see instructions in the README file), The report will allow you to compare two players projections for a given week, or the entire season if you're preparing for your draft!</p>
            </div>
        </div>

        <div class="card col" style="width: 18rem; margin:20px;">
            <img src="https://cdn.prod.website-files.com/66d911ad74f962a38f585631/6705af61bc3ea8e906835f4a_ff_homepage-cover.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Team Page Tool</h5>
                <p class="card-text">Navigate to to the Team Page in the top right and  submit the team form, creating a customized page displaying your fantasy team! Please spell as accurately as possible since we use a fuzzy search to fetch your players. The team view will include statistics to help you set your lineup come gameday!</p>
            </div>
        </div>

    </div>
{% endblock %}